In [1]:
import os, cv2
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
PATH = os.getcwd()
# Define data path
data_path = PATH + '/train'
data_dir_list = os.listdir(data_path)

In [3]:
#inisialisasi
img_row = 50
img_col = 50
num_channel = 1
img_data_list= []

##Mencari dan mengubah masing-masing gambar dalam tiap2 folder, 
##lalu mengubah sesuai format dan ukuran standard yang ditentukan 
for dataset in data_dir_list:
    img_list=os.listdir(data_path+'/'+ dataset) #Mencari dan mendeteksi tiap-tiap folder
    print ('Loaded the images of dataset-'+'{}\n'.format(dataset))
    for img in img_list:
        input_img=cv2.imread(data_path + '/'+ dataset + '/'+ img ) #membaca masing-masing data gambar dan mengubah ke dalam biner
        input_img=cv2.cvtColor(input_img, cv2.COLOR_BGR2GRAY) #mengubah tiap-tiap gambar menjadi format warna grayscale
        input_img_resize=cv2.resize(input_img,(img_row,img_col)) #resize ukuran gambar sesuai dengan img_row dan img_col
        input_img_resize = input_img_resize.reshape(img_row*img_col) #mengubah ukuran matriks menjadi satu baris contoh: dari 50x50 menjadi 1x2500
        img_data_list.append(input_img_resize) #menambahkan baris diatas ke dalam data list(img_data_list)

img_data = np.array(img_data_list) #mengubah img_data_list yang berbentuk list menjadi bentuk array
img_data = img_data.astype('float32') #mengubah setiap elemen data img_data menjadi float32
print (img_data.shape)

Loaded the images of dataset-PNEUMONIA

Loaded the images of dataset-NORMAL

(624, 784)

In [5]:
#img data dalam bentuk dataframe
df0 = pd.DataFrame(img_data)
df0.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,33.0,40.0,57.0,62.0,55.0,73.0,49.0,49.0,45.0,70.0,...,178.0,177.0,166.0,158.0,150.0,117.0,55.0,16.0,22.0,24.0
1,39.0,16.0,150.0,123.0,67.0,53.0,58.0,148.0,174.0,170.0,...,179.0,179.0,178.0,162.0,149.0,139.0,106.0,31.0,16.0,19.0
2,208.0,144.0,198.0,60.0,76.0,82.0,119.0,111.0,119.0,127.0,...,181.0,170.0,164.0,163.0,168.0,155.0,126.0,73.0,25.0,14.0
3,104.0,74.0,79.0,74.0,82.0,73.0,70.0,91.0,80.0,90.0,...,176.0,174.0,171.0,154.0,144.0,134.0,143.0,52.0,15.0,22.0
4,46.0,93.0,117.0,136.0,162.0,172.0,169.0,184.0,225.0,200.0,...,217.0,206.0,198.0,202.0,191.0,185.0,153.0,50.0,0.0,1.0

In [7]:
labels=[]
#Menentukan label pada data sesuai dengan jumlah data pada masing-masing folder
#satu folder merepresentasikan label tertentu
#Training
#Normal:1341
#Pneumonia: 
#Test:
lbl1 = np.ones(390) #label sesuai dengan jumlah file sample pneumonia
lbl2 = np.zeros(234) #label sesuai dengan jumlah file sample normal
labels.append(lbl1)
labels = np.array(labels)
labels.resize()
for i in range(len(lbl2)):
    labels = np.append(labels, lbl2[i])
#labels = labels.reshape(20)

labels = labels.reshape(624,1)

print(labels.shape)

(624, 1)

In [8]:
#menambahkan label yang sudah dibuat ke dalam data
img_data_label = np.insert(img_data, [0], labels, axis=1)
img_data_label

array([[  1.,  33.,  40., ...,  16.,  22.,  24.],
       [  1.,  39.,  16., ...,  31.,  16.,  19.],
       [  1., 208., 144., ...,  73.,  25.,  14.],
       ...,
       [  0.,  13.,  13., ...,   9.,   9.,   9.],
       [  0., 107., 126., ...,   0.,   6.,   4.],
       [  0., 160., 137., ..., 161.,  29., 251.]], dtype=float32)

In [9]:
#shuffling baris (axis x)
np.random.shuffle(img_data_label)
img_data_label

array([[  1.,  87.,  95., ...,  18.,  24.,  25.],
       [  1.,  19.,  11., ...,   5.,  18.,  70.],
       [  0.,   0.,  17., ...,  14.,  16.,   0.],
       ...,
       [  1.,  99., 107., ..., 185., 152.,  13.],
       [  0.,  50.,  70., ..., 155., 146.,   0.],
       [  0.,   0.,   0., ..., 212., 169., 133.]], dtype=float32)

In [10]:
# menampilkan dalam bentuk dataframe data yang sudah diberi label
df = pd.DataFrame(img_data_label)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1.0,87.0,95.0,87.0,81.0,104.0,126.0,152.0,144.0,146.0,...,177.0,174.0,168.0,161.0,126.0,133.0,59.0,18.0,24.0,25.0
1,1.0,19.0,11.0,6.0,31.0,42.0,38.0,172.0,180.0,187.0,...,188.0,179.0,178.0,175.0,177.0,160.0,132.0,5.0,18.0,70.0
2,0.0,0.0,17.0,16.0,15.0,16.0,15.0,16.0,16.0,11.0,...,191.0,140.0,135.0,126.0,120.0,153.0,51.0,14.0,16.0,0.0
3,1.0,55.0,57.0,60.0,72.0,79.0,78.0,73.0,56.0,50.0,...,158.0,154.0,164.0,166.0,153.0,157.0,115.0,133.0,7.0,29.0
4,1.0,45.0,51.0,48.0,77.0,71.0,57.0,47.0,60.0,127.0,...,166.0,168.0,149.0,140.0,126.0,128.0,46.0,24.0,30.0,29.0

In [11]:
#menambahkan header pada tiap-tiap kolom
col_header = ['label']
for i in range (784):
    pixel = 'pixel ' +str(i)
    col_header.insert((i+1),pixel)
col_header
#img_data_label.shape
df = pd.DataFrame(img_data_label, columns=col_header)
df.head()

,label,pixel 0,pixel 1,pixel 2,pixel 3,pixel 4,pixel 5,pixel 6,pixel 7,pixel 8,...,pixel 774,pixel 775,pixel 776,pixel 777,pixel 778,pixel 779,pixel 780,pixel 781,pixel 782,pixel 783
0,1.0,87.0,95.0,87.0,81.0,104.0,126.0,152.0,144.0,146.0,...,177.0,174.0,168.0,161.0,126.0,133.0,59.0,18.0,24.0,25.0
1,1.0,19.0,11.0,6.0,31.0,42.0,38.0,172.0,180.0,187.0,...,188.0,179.0,178.0,175.0,177.0,160.0,132.0,5.0,18.0,70.0
2,0.0,0.0,17.0,16.0,15.0,16.0,15.0,16.0,16.0,11.0,...,191.0,140.0,135.0,126.0,120.0,153.0,51.0,14.0,16.0,0.0
3,1.0,55.0,57.0,60.0,72.0,79.0,78.0,73.0,56.0,50.0,...,158.0,154.0,164.0,166.0,153.0,157.0,115.0,133.0,7.0,29.0
4,1.0,45.0,51.0,48.0,77.0,71.0,57.0,47.0,60.0,127.0,...,166.0,168.0,149.0,140.0,126.0,128.0,46.0,24.0,30.0,29.0

In [12]:
#konvert ke dalam format csv
df.to_csv('data_test_mnist.csv', sep=',', encoding='utf-8', index=False)

In [13]:
df.head()

,label,pixel 0,pixel 1,pixel 2,pixel 3,pixel 4,pixel 5,pixel 6,pixel 7,pixel 8,...,pixel 774,pixel 775,pixel 776,pixel 777,pixel 778,pixel 779,pixel 780,pixel 781,pixel 782,pixel 783
0,1.0,87.0,95.0,87.0,81.0,104.0,126.0,152.0,144.0,146.0,...,177.0,174.0,168.0,161.0,126.0,133.0,59.0,18.0,24.0,25.0
1,1.0,19.0,11.0,6.0,31.0,42.0,38.0,172.0,180.0,187.0,...,188.0,179.0,178.0,175.0,177.0,160.0,132.0,5.0,18.0,70.0
2,0.0,0.0,17.0,16.0,15.0,16.0,15.0,16.0,16.0,11.0,...,191.0,140.0,135.0,126.0,120.0,153.0,51.0,14.0,16.0,0.0
3,1.0,55.0,57.0,60.0,72.0,79.0,78.0,73.0,56.0,50.0,...,158.0,154.0,164.0,166.0,153.0,157.0,115.0,133.0,7.0,29.0
4,1.0,45.0,51.0,48.0,77.0,71.0,57.0,47.0,60.0,127.0,...,166.0,168.0,149.0,140.0,126.0,128.0,46.0,24.0,30.0,29.0

In [14]:
#membuka file csv yang sudah disimpan ke dalam dataframe
df1 = pd.read_csv('data_test_mnist.csv')
df1.head()

,label,pixel 0,pixel 1,pixel 2,pixel 3,pixel 4,pixel 5,pixel 6,pixel 7,pixel 8,...,pixel 774,pixel 775,pixel 776,pixel 777,pixel 778,pixel 779,pixel 780,pixel 781,pixel 782,pixel 783
0,1.0,87.0,95.0,87.0,81.0,104.0,126.0,152.0,144.0,146.0,...,177.0,174.0,168.0,161.0,126.0,133.0,59.0,18.0,24.0,25.0
1,1.0,19.0,11.0,6.0,31.0,42.0,38.0,172.0,180.0,187.0,...,188.0,179.0,178.0,175.0,177.0,160.0,132.0,5.0,18.0,70.0
2,0.0,0.0,17.0,16.0,15.0,16.0,15.0,16.0,16.0,11.0,...,191.0,140.0,135.0,126.0,120.0,153.0,51.0,14.0,16.0,0.0
3,1.0,55.0,57.0,60.0,72.0,79.0,78.0,73.0,56.0,50.0,...,158.0,154.0,164.0,166.0,153.0,157.0,115.0,133.0,7.0,29.0
4,1.0,45.0,51.0,48.0,77.0,71.0,57.0,47.0,60.0,127.0,...,166.0,168.0,149.0,140.0,126.0,128.0,46.0,24.0,30.0,29.0